body {
    background-color: #fdf6d8;
}

.container {
    max-width: 400px;
    margin: auto;
}

.btn-warning {
    background-color: #f9d342;
    border: none;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #eac22d;
}

.rounded-circle {
    border: 3px solid #f9d342;
}
